body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Workbench', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.avviso-container {
    max-width: 600px;
}

.avviso-message {
    font-size: 24px;
    text-transform: uppercase;
    border-right: 2px solid white; /* Simula il cursore lampeggiante */
    white-space: nowrap; /* Evita il wrap del testo */
    overflow: hidden; /* Nasconde il testo in eccesso */
    animation: typeWriter 2s steps(20) forwards; /* Animazione di scrittura */
    margin-bottom: 20px; /* Aggiunge spazio tra le scritte */
}

.avviso-submessage {
    font-size: 18px; /* Dimensione del font ridotta */
    margin: 0; /* Rimuove il margine */
}
