body {
    font-family: 'Workbench', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.imgur.com/uGbddkp.jpg');
    background-size: auto;
    background-attachment: fixed;
    background-repeat: repeat;
    color: white;
    position: relative;
    overflow: auto;
}

header {
    text-align: center;
    padding: 5px;
    background-color: transparent;
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}

section {
    margin: 20px 0;
    color: white;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-transform: uppercase;
}

.top-module {
    background-color: black;
    padding: 10px;
    margin: 0 auto 0;
    max-width: 800px;
    position: relative;
    border-radius: 4px;
    height: 80px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2), 0 0 6px rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-module img {
    max-width: 200px;
    max-height: 80px;
    border-radius: 4px;
}

.central-module {
    background-color: #111;
    padding: 40px;
    margin: 5px auto 20px;
    max-width: 800px;
    height: 600px;
    position: relative;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 0;
}

.grid-item {
    background-color: #222;
    padding: 30px;
    text-align: center;
    border-radius: 4px;
    margin-top: 0;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2), 0 0 6px rgba(255, 255, 255, 0.1);
    color: white;
    text-transform: uppercase;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.grid-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://i.pinimg.com/originals/b6/fe/0c/b6fe0c5fd3c211e729aabeca0597fa0e.gif') repeat;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    mix-blend-mode: screen;
    animation: vhsAnimation 0.5s infinite alternate-reverse;
}

.grid-item:hover {
    background-color: #42C920;
    color: black;
    animation: flicker 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn 2s ease-in-out;
}

@keyframes flicker {
    0%, 100% {
        background-color: #42C920;
        color: black;
    }
    50% {
        background-color: #111;
        color: white;
    }
}

@keyframes vhsAnimation {
    from {
        transform: translate(-5px, -5px);
    }
    to {
        transform: translate(5px, 5px);
    }
}

/* Aggiunta del link al font Workbench */
@import url('https://fonts.googleapis.com/css2?family=Workbench:wght@400;700&display=swap');

.fullscreen-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999; /* Assicura che la GIF sia sopra gli altri elementi */
}

.fullscreen-gif .tenor-gif-embed {
    width: 100%;
    height: 100%;
}

