body {
    font-family: 'Workbench', sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://i.imgur.com/uGbddkp.jpg') fixed;
    color: white;
    overflow: hidden;
}

header {
    text-align: center;
    padding: 5px;
    background-color: transparent;
    color: white;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
}

.top-module {
    text-align: center;
    margin-bottom: 20px;
}

.module-caption {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
}
